<% include ./partials/navbar %>

<% include ./partials/messages %>
<div class="card border-primary my-4 mx-0 p-0" >
  <div class="card-header">
    <h2 style="<%'text: green'%>" ><%= user.name %></h2>
  </div>
  <div class="card-body border-bottom">
      <h4 class="card-title float-left">Email</h4>
      <h5 class="card-text float-right"><%= user.email %></h5>
  </div>
  <div class="card-body">
      <h4 class="card-title float-left">Available Funds</h4>
      <h5 class="card-text float-right"><%= `$${user.cash}` %></h5>
  </div>
</div>

<h2 class="mt-5 mb-1">Stocks Owned</h2>

<table class="table table-hover border">

  <thead>
    <tr class="bg-primary">
      <th scope="col"><h4>Ticker Symbol</h4></th>
      <th scope="col"><h4>Number Of Shares</h4></th>
      <th scope="col"><h4>Last Sale Price</h4></th>
      <th scope="col"><h4>Ask Price</h4></th>
      <th scope="col"><h4>Performance</h4></th>
    </tr>
  </thead>

  <tbody>
    <% for( let index = 0; index < user.stocks.length; index++) {%>
      <% let stock = user.stocks[index]; %>
      <% let sale = askPriceArr[index].lastSalePrice; %>
      <% let ask = askPriceArr[index].askPrice; %>
      <% if( index % 2 == 0 ) { %> 
        <tr>
      <% } else { %> 
        <tr class="table-primary">
      <% } %>
      <% if (sale > ask) { %>
        <td>
          <text class="text-success"><%= stock.tickerSymbol %></text>
        </td>
      <% } %>
      <% if (sale === ask) { %>
        <td>
          <text class="text-muted"><%= stock.tickerSymbol %></text>
        </td>
      <% } %>
      <% if (sale < ask) { %>
        <td>
          <text class="text-primary"><%= stock.tickerSymbol %></text>
        </td>
      <% } %>
        <td><text><%= stock.numberOfShares %></text></td>
        <td><text><%= sale %></text></td>
        <td><text><%= ask %></text></td>
        <td>
        <% if (sale > ask) { %>
          <text>+</text> 
        <% } %>
        <% if (sale === ask) { %>
          <text>=</text> 
        <% } %>
        <% if (sale < ask) { %>
          <text>-</text> 
        <% } %>
        </td>
      </tr>
    <% } %>
  </tbody>

</table>