<h1 class="mt-4">Dashboard</h1>
<a href="/dashboard" class="btn btn-secondary">Dashboard</a>
<a href="/dashboard/portfolio" class="btn btn-secondary">Portfolio</a>
<a href="/dashboard/search" class="btn btn-secondary">Search</a>
<a href="/users/logout" class="btn btn-primary">Logout</a>
<br />
<br />

<% include ./partials/messages %>
<h3><%= user.name %></h3>
<h4><%= user.email %></h4>
<h5><%= user.cash %></h5>
<br />
<br />

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p>Ticker Symbol</p>
      </div>
      <div class="col-sm">
        <p>Number Of Shares</p>
      </div>
      <div class="col-sm">
        <p>Last Sale Price</p>
      </div>
      <div class="col-sm">
        <p>Ask Price</p>
      </div>
      <div class="col-sm">
        <p>Performance</p>
      </div>
    </div>
  </div>

<% user.stocks.forEach( function(stock, index) { %>
  <% let sale = askPriceArr[index].lastSalePrice; %>
  <% let ask = askPriceArr[index].askPrice %>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= stock.tickerSymbol %>
      </div>
      <div class="col-sm">
        <%= stock.numberOfShares %>
      </div>
      <div class="col-sm">
        <%= sale %>
      </div>
      <div class="col-sm">
        <%= ask%>
      </div>
      <% if (sale > ask) { %>
        <div class="col-sm">
          <p> + </p>
        </div>
      <% } %>
      <% if (sale === ask) { %>
        <div class="col-sm">
          <p> same </p>
        </div>
      <% } %>
      <% if (sale < ask) { %>
        <div class="col-sm">
          <p> - </p>
        </div>
      <% } %>
    </div>
  </div>
  <br />
<% }); %>