<% include ./partials/navbar %>

<% include ./partials/messages %>
<h3><%= user.name %></h3>
<h4><%= user.email %></h4>
<h5><%= user.cash %></h5>
<br />
<br />

<h2 class="mb-5">Stocks Owned</h2>

<table class="table table-hover">

  <thead>
    <tr class="bg-primary">
      <th scope="col"><h4>Ticker Symbol</h4></th>
      <th scope="col"><h4>Number Of Shares</h4></th>
      <th scope="col"><h4>Last Sale Price</h4></th>
      <th scope="col"><h4>Ask Price</h4></th>
      <th scope="col"><h4>Performance</h4></th>
    </tr>
  </thead>

  <tbody>
    <% for( let index = 0; index < user.stocks.length; index++) {%>
      <% let stock = user.stocks[index]; %>
      <% let sale = askPriceArr[index].lastSalePrice; %>
      <% let ask = askPriceArr[index].askPrice %>
        <% if( index % 2 == 0 ) { %> 
          <tr>
        <% } else { %> 
          <tr class="table-primary">
        <% } %>
          <td><%= stock.tickerSymbol %></td>
          <td><%= stock.numberOfShares %></td>
          <td><%= sale %></td>
          <td><%= ask%></td>
          <td>
            <% if (sale > ask) { %>
                <p> + </p>
            <% } %>
            <% if (sale === ask) { %>
                <p> same </p>
            <% } %>
            <% if (sale < ask) { %>
                <p> - </p>
            <% } %>
          </td>
        </tr>
    <% } %>
  </tbody>

</table>