<h1 class="mt-4">Portfolio</h1>
<a href="/dashboard" class="btn btn-secondary">Dashboard</a>
<a href="/dashboard/portfolio" class="btn btn-secondary">Portfolio</a>
<a href="/dashboard/search" class="btn btn-secondary">Search</a>
<a href="/users/logout" class="btn btn-primary">Logout</a>
<br />
<br />

<h3><%= user.name %></h3>
<h5><%= user.cash %></h5>
<br />
<br />

<h5>Inorder</h5>
<% user.listOfTransactions.forEach( function(transaction) { %>
  <%= transaction.transaction %>
  <%= transaction.tickerSymbol %>
  <%= transaction.numberOfShares %>
  <%= transaction.price %>
  <%= transaction.date %>
  <br />
<% }); %>
<br />
<br />

<h5>Reversed</h5>
<% let arr = user.listOfTransactions; %>
<% for(let i=arr.length-1; i >= 0; i--) { %>
  <%= arr[i].transaction %>
  <%= arr[i].tickerSymbol %>
  <%= arr[i].numberOfShares %>
  <%= arr[i].price %>
  <%= arr[i].date %>
  <br />
<% } %>