<% include ./partials/navbar %>

<h2 class="mt-5 mb-1">Transactions</h2>

<table class="table table-hover">

  <thead>
    <tr class="bg-primary">
      <th scope="col"><h4>Type</h4></th>
      <th scope="col"><h4>Ticker Symbol</h4></th>
      <th scope="col"><h4>Number of Shares</h4></th>
      <th scope="col"><h4>Price</h4></th>
      <th scope="col"><h4>Date</h4></th>
    </tr>
  </thead>

  <tbody>
    <% let arr = user.listOfTransactions; %>
    <% for(let i=arr.length-1; i >= 0; i--) { %>
      <% if( i%2 == 1 ) { %> 
        <tr>
      <% } else { %> 
        <tr class="table-primary">
      <% } %>
        <td><%= arr[i].transaction %></td>
        <td><%= arr[i].tickerSymbol %></td>
        <td><%= arr[i].numberOfShares %></td>
        <td><%= arr[i].price %></td>
        <% let date = String(arr[i].date).split(" "); %>
        <td>
          <%= date[0] %>
          <%= date[1] %>
          <%= date[2] %>
          <%= date[3] %>
          <%= date[4] %>
        </td>
      </tr>
    <% } %>
  </tbody>

</table>