<% include ./partials/navbar %>

<h3><%= user.name %></h3>
<h5><%= user.cash %></h5>
<br />
<br />

<% let arr = user.listOfTransactions; %>
<% for(let i=arr.length-1; i >= 0; i--) { %>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= arr[i].transaction %>
      </div>
      <div class="col-sm">
        <%= arr[i].tickerSymbol %>
      </div>
      <div class="col-sm">
        <%= arr[i].numberOfShares %>
      </div>
      <div class="col-sm">
        <%= arr[i].price %>
      </div>
      <div class="col-sm">
        <% let date = String(arr[i].date).split(" "); %>
        <%= date[0] %>
        <%= date[1] %>
        <%= date[2] %>
        <%= date[3] %>
        <%= date[4] %>
      </div>
    </div>
  </div>
  <br />
<% } %>